################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vscode/
src/*/obj/*
src/*/bin/*
test/*/obj/*
test/*/bin/*
